default/DummyJSON.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1767623672799,
    "description" : "testing out a potential bug",
    "identifier" : "DummyJSON",
    "lastModifiedTimestamp" : 1767623672799,
    "name" : "DummyJSON",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 500,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8c2aff37-f957-3144-b2e3-a0e83ad344c1",
        "name" : "ConvertRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "28c0c707-5bb6-354c-aa01-5ff3b0f2cbb6",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5a0dd74f-0020-3e75-804f-4578d1d85f57",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 500,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d30e2017-0601-3fca-9fbb-f3b1ea421259",
        "name" : "Wait",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e2ddd573-77b8-38da-82a4-0b8f7c3e0a87",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8c2aff37-f957-3144-b2e3-a0e83ad344c1",
        "name" : "ConvertRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.7.0-SNAPSHOT"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.7.0-SNAPSHOT"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "01508bce-7037-3662-8fdf-cd567144c886",
      "name" : "JsonRecordSetWriter",
      "properties" : {
        "Schema Text" : "${avro.schema}",
        "Allow Scientific Notation" : "false",
        "Compression Level" : "1",
        "Output Grouping" : "output-oneline",
        "Schema Access Strategy" : "inherit-record-schema",
        "Schema Name" : "${schema.name}",
        "Pretty Print JSON" : "false",
        "Suppress Null Values" : "never-suppress",
        "Schema Write Strategy" : "no-schema",
        "Compression Format" : "none"
      },
      "propertyDescriptors" : {
        "Schema Branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Branch",
          "sensitive" : false
        },
        "Schema Reference Reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Reader",
          "sensitive" : false
        },
        "Schema Text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Text",
          "sensitive" : false
        },
        "Allow Scientific Notation" : {
          "displayName" : "Allow Scientific Notation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Scientific Notation",
          "sensitive" : false
        },
        "Compression Level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Level",
          "sensitive" : false
        },
        "Output Grouping" : {
          "displayName" : "Output Grouping",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Grouping",
          "sensitive" : false
        },
        "Schema Registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Registry",
          "sensitive" : false
        },
        "Schema Access Strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Access Strategy",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "Suppress Null Values" : {
          "displayName" : "Suppress Null Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Suppress Null Values",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "Compression Format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Format",
          "sensitive" : false
        },
        "Schema Cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Cache",
          "sensitive" : false
        },
        "Schema Version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Version",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.7.0-SNAPSHOT"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.7.0-SNAPSHOT"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2c16fb24-9bab-3092-823f-a3e65e88ffe8",
      "name" : "JsonTreeReader",
      "properties" : {
        "Schema Text" : "${avro.schema}",
        "Starting Field Name" : "records",
        "Max String Length" : "20 MB",
        "Starting Field Strategy" : "NESTED_FIELD",
        "Schema Access Strategy" : "infer-schema",
        "Schema Name" : "${schema.name}",
        "Schema Application Strategy" : "SELECTED_PART",
        "Allow Comments" : "false"
      },
      "propertyDescriptors" : {
        "Schema Branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Branch",
          "sensitive" : false
        },
        "Schema Reference Reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Reader",
          "sensitive" : false
        },
        "Schema Text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Text",
          "sensitive" : false
        },
        "Starting Field Name" : {
          "displayName" : "Starting Field Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Starting Field Name",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Schema Inference Cache" : {
          "displayName" : "Schema Inference Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Inference Cache",
          "sensitive" : false
        },
        "Starting Field Strategy" : {
          "displayName" : "Starting Field Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Starting Field Strategy",
          "sensitive" : false
        },
        "Schema Registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Registry",
          "sensitive" : false
        },
        "Schema Access Strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Access Strategy",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Schema Application Strategy" : {
          "displayName" : "Schema Application Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Application Strategy",
          "sensitive" : false
        },
        "Schema Version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Version",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Allow Comments" : {
          "displayName" : "Allow Comments",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Comments",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonTreeReader"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 500,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "DummyJsonLD",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.7.0-SNAPSHOT"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5a0dd74f-0020-3e75-804f-4578d1d85f57",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 2000.0,
        "y" : 272.0
      },
      "properties" : {
        "File Size" : "0B",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Custom Text" : "{\"records\": [{\"dummykey\": \"value1\"}, {\"dummykey\": \"value2\"}]}\n{\"records\": [{\"dummykey\": \"value3\"}, {\"dummykey\": \"value4\"}]}",
        "Character Set" : "UTF-8",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Mime Type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Mime Type",
          "sensitive" : false
        },
        "Custom Text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Text",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.7.0-SNAPSHOT"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 5,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8c2aff37-f957-3144-b2e3-a0e83ad344c1",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ConvertRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 2248.0,
        "y" : 544.0
      },
      "properties" : {
        "Include Zero Record FlowFiles" : "false",
        "Record Writer" : "01508bce-7037-3662-8fdf-cd567144c886",
        "Record Reader" : "2c16fb24-9bab-3092-823f-a3e65e88ffe8"
      },
      "propertyDescriptors" : {
        "Include Zero Record FlowFiles" : {
          "displayName" : "Include Zero Record FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Zero Record FlowFiles",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 3,
      "runDurationMillis" : 50,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ConvertRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.7.0-SNAPSHOT"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d30e2017-0601-3fca-9fbb-f3b1ea421259",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Wait",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 2056.0,
        "y" : 824.0
      },
      "properties" : {
        "Releasable FlowFile Count" : "1",
        "Wait Mode" : "wait",
        "Target Signal Count" : "1",
        "Expiration Duration" : "10 min",
        "Attribute Copy Mode" : "keeporiginal",
        "Wait Buffer Count" : "1"
      },
      "propertyDescriptors" : {
        "Wait Penalty Duration" : {
          "displayName" : "Wait Penalty Duration",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Wait Penalty Duration",
          "sensitive" : false
        },
        "Releasable FlowFile Count" : {
          "displayName" : "Releasable FlowFile Count",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Releasable FlowFile Count",
          "sensitive" : false
        },
        "Wait Mode" : {
          "displayName" : "Wait Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Wait Mode",
          "sensitive" : false
        },
        "Target Signal Count" : {
          "displayName" : "Target Signal Count",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Target Signal Count",
          "sensitive" : false
        },
        "Expiration Duration" : {
          "displayName" : "Expiration Duration",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Expiration Duration",
          "sensitive" : false
        },
        "Distributed Cache Service" : {
          "displayName" : "Distributed Cache Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Distributed Cache Service",
          "sensitive" : false
        },
        "Signal Counter Name" : {
          "displayName" : "Signal Counter Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Signal Counter Name",
          "sensitive" : false
        },
        "Attribute Copy Mode" : {
          "displayName" : "Attribute Copy Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attribute Copy Mode",
          "sensitive" : false
        },
        "Release Signal Identifier" : {
          "displayName" : "Release Signal Identifier",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Release Signal Identifier",
          "sensitive" : false
        },
        "Wait Buffer Count" : {
          "displayName" : "Wait Buffer Count",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Wait Buffer Count",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.Wait",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "rob.fellows@gmail.com",
    "flowIdentifier" : "DummyJSON",
    "timestamp" : 1767623934742
  }
}